DATABASE_URL="postgresql://postgres.<project-ref>:<password>@<region>.pooler.supabase.com:6543/postgres"
DATABASE_SSL="true"

REDIS_URL="rediss://<upstash-host>:6379"

GEMINI_API_KEY="your_api_key_here"

MAIL_USER="your_gmail_address@gmail.com"
MAIL_PASS="your_gmail_app_password"

JWT_SECRET=P9cv8tThhazjeANqxYLKVS0oDOrFePj9QMmPe7Jv9Fs
JWT_EXPIRES_IN_SECONDS=86400
AUTH_ALLOW_ROLE_REGISTRATION=true

PORT=3000
